adbutils==1.2.9
apkutils2==1.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
cigam==0.0.3
decorator==5.1.1
deprecation==2.1.0
idna==3.4
joblib==1.2.0
numpy==1.21.6
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
py==1.11.0
pyelftools==0.29
python-dotenv==0.21.1
requests==2.30.0
retry==0.9.2
scikit-learn==1.0.2
scipy==1.7.3
threadpoolctl==3.1.0
urllib3==2.0.2
whichcraft==0.6.1
xmltodict==0.13.0
